In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn 
import scipy

In [2]:
df = pd.read_csv(r"G:\Car_project\remote_car_project\raw_datasets\car_data.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Kuga,2017,14998,Manual,19168,Diesel,145.0,54.3,2.0
1,Edge,2017,19998,Manual,26758,Diesel,160.0,48.7,2.0
2,Fiesta,2017,7480,Manual,30600,Petrol,0.0,65.7,1.0
3,Fiesta,2017,7714,Manual,24000,Petrol,0.0,65.7,1.0
4,EcoSport,2018,15163,Semi-Auto,16320,Petrol,145.0,48.7,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99187 entries, 0 to 99186
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         99187 non-null  object
 1   year          99187 non-null  int64
 2   price         99187 non-null  int64
 3   transmission  99187 non-null  object
 4   mileage       99187 non-null  int64
 5   fuelType      99187 non-null  object
 6   tax           94327 non-null  float64
 7   mpg           99187 non-null  float64
 8   engineSize    99187 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 6.8+ MB